*{
    font-family: 'Nerko One', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #add8e6;
    text-align: center;
}

h1{
    font-size: 60px;
    color: white;
    margin-top: 20px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

main{
    height: calc(100vh - 160px);
}

.container{
    height: calc(100% / 3);
    width: 50%;
    margin: auto;
    border: 1px solid black;
}

.carta{
    position: relative;
    z-index: 10;
    display: inline-block;
    margin: 10px 15px;
    width: calc(100% / 4 - 55px);
    height: calc(100% - 30px);
    border-radius: 10px;
    background-color: white;
}

.coperta, .scoperta{
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    background-size: contain;

}

.coperta{
    z-index: 2;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-y;
}

.scoperta{
    z-index: 4;
    background-image: url(../img/bicycle.png);
    background-repeat: no-repeat;
    background-position: center;

}

img{
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
}

.descrizione{
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 20%;
}
