*{
    font-family: 'Nerko One', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #add8e6;
    text-align: center;
}

h1{
    font-size: 60px;
    color: white;
    margin-top: 20px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

main{
    height: calc(100vh - 160px);
}

.container{
    height: calc(100% / 3);
    width: 50%;
    margin: auto;
}

/* contenuto carte */
.carta{
    position: relative;
    display: inline-block;
    margin: 10px 15px;
    width: calc(100% / 4 - 55px);
    height: calc(100% - 30px);
    border-radius: 10px;
    background-color: white;
}

.immagine{
    position: absolute;
    border-radius: 10px;
    width: 100%;
    background-size: contain;
    height: 100%;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-y;
}

.descrizione{
    display: none;
    height: 20%;
    width: 100%;
    font-size: 1vw;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.coperta_speciale{
    height: 80%;
    z-index: 1;
    background-image: url(../img/balloon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.balloon_speciale{
    display: inline-block;
    color: rgb(196,22,240);
}

/*colore scritte */
.balloon{
    color: rgb(196,22,240);
}

.bicycle{
    color: rgb(249,8,8);
}

.ship{
    color: rgb(8,249,217);
}

.submarine{
    color: rgb(31,74,186);
}

.tractor{
    color: rgb(8,132,2);
}

.tram{
    color: rgb(209,114,2);
}

/* immagini delle carte */
.carta:hover  .immagine.tram{
    background-image: url(../img/tram.png);
    background-repeat: no-repeat;
}

.carta:hover  .immagine.tractor{
    background-image: url(../img/tractor.png);
    background-repeat: no-repeat;
}

.carta:hover  .immagine.balloon{
    background-image: url(../img/balloon.png);
    background-repeat: no-repeat;
}

.carta:hover  .immagine.bicycle{
    background-image: url(../img/bicycle.png);
    background-repeat: no-repeat;
}

.carta:hover  .immagine.ship{
    background-image: url(../img/ship.png);
    background-repeat: no-repeat;
}

.carta:hover  .immagine.submarine{
    background-image: url(../img/submarine.png);
    background-repeat: no-repeat;
}

.carta:hover .descrizione{
    display: inline-block;
}

.descrizione:hover{
    color: orange;
}
